# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/real_estate_new?schema=public"




JWT_SECRET="a string used as secret key, generate it"

